<div class="container">
  <h2> <a href= "http://www.dota2.com/hero/<%= @hero_for_abilities.name %>">Abilities Extended <%= @hero_for_abilities.name %></a></h2>

  <p><%= @hero_for_abilities.skill1 %></p><br>
  <p><%= @hero_for_abilities.skill2 %></p><br>
  <p><%= @hero_for_abilities.skill3 %></p><br>
  <p><%= @hero_for_abilities.skill4 %></p><br>
  <p><%= @hero_for_abilities.skill5 %></p><br>
  <p><%= @hero_for_abilities.skill6 %></p><br>
  <p><%= @hero_for_abilities.skill7 %></p><br>
  <p><%= @hero_for_abilities.skill8 %></p><br>
  <p><%= @hero_for_abilities.skill9 %></p><br>


</div>
