<div class="container">
<h2>Stats on <%= @indiv_stats.name %></h2>
<% @indiv_stats.stats.each do |stat| %><br>
Played on: <%= stat.created_at %><br>
Kills: <%= stat.kills %><br>
Deaths: <%= stat.deaths %><br>
Assists: <%= stat.assists %><br>
Last Hits: <%= stat.last_hits %><br>
Denies: <%= stat.denys %><br>
<% end %>
</div>
